# Ignore lib

# Ignore file with extension
*.bak
*.dat
*.log
*.w7
*.xp
*.txt
*.aps
*.clw
*.opt
*.plg
*.rh
*.rp
*.trc
*.P00
*.hm
*.csv
*.no
*.avi
*.ver
*.cfg
*.sql
*.qd
*.xml
*.bat
*.ver
*.ttt
*.mrk
*.xlsx
*.xls
*.ini
*.htm
*.ccc
*.bbb
*.sdf

# Ignore exe
*.exe

# Ignore Folder
/.vs/
/Debug/
/Release/
/OLD EXE/
/*DKWB*/
/*Update*/
/*updated*/
/*Backup*/
/*backup*/
/SampleLabel/
Menu.ncb
