IDD_UNIT DIALOG DISCARDABLE  0, 0, 600, 800
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "unit"
MENU 256
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT  "&Code",IDC_STATIC1,12,99,75,11
    EDITTEXT  IDC_EDIT1,90,100,50,12,ES_AUTOHSCROLL | ES_READONLY | WS_VSCROLL
    LTEXT  "&Name",IDC_STATIC2,12,124,75,11
    EDITTEXT  IDC_EDIT2,90,125,225,12,ES_AUTOHSCROLL | ES_READONLY
    LTEXT  "&Remarks",IDC_STATIC3,12,149,75,11
    EDITTEXT  IDC_EDIT3,90,150,225,12,ES_AUTOHSCROLL | ES_READONLY
END
